Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-fbc-v4-21-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-21:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-21.catalog
  ...

tempo-jaeger-query-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-opa-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-opa-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-operator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Fix links to COO docs in Jaeger UI deprecation banner
  patches/jaegerui_deprecation_notice.patch
Due: none

Bump tempo submodule to rhosdt-3.10-1 (v2.10.7)
  .gitmodules
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Fix links to COO docs in Jaeger UI deprecation banner (#799)
  patches/jaegerui_deprecation_notice.patch
Due: none

Point tempo submodule to rhosdt-3.10 branch (v2.10.7)
  .gitmodules
Due: none

Bump tempo submodule to rhosdt-3.10-1 (v2.10.7) (#800)
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: none

Update bundle [release-driver] (#804)
  bundle-patch/bundle.env
Due: none

Define test parameters in the pipeline
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Define test parameters in the pipeline (#807)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

debug version check
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  Dockerfile.bundle
Due: none

debug version check (#808)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  Dockerfile.bundle
Due: none

Revert "debug version check (#808)"
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  Dockerfile.bundle
Due: none

Revert "debug version check (#808)" (#809)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  Dockerfile.bundle
Due: none

Bump versions for 3.10.1
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Bump versions for 3.10.1 (#826)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver] (#827)
  bundle-patch/bundle.env
Due: none

Update bundle [release-driver] (#833)
  bundle-patch/bundle.env
Due: none

Update bundle [release-driver] (#848)
  bundle-patch/bundle.env
Due: none

Bump versions for 3.10.1 (-3)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Bump versions for 3.10.1 (-3) (#850)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-21-main-on-push: ((((any of: .tekton/tempo-fbc-v4-21-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-21-push.yaml)) or (any of: .tekton/fbc-build-pipeline.yaml)) or (any of: Dockerfile-v4-21.catalog)) or (any of: catalog/***)
  tempo-jaeger-query-main-on-push: ((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-jaeger-query-pull-request.yaml)) or (any of: .tekton/tempo-jaeger-query-push.yaml)) or (any of: Dockerfile.jaegerquery)) or (any of: rpms.lock.yaml)) or (any of: jaeger)) or (any of: jaeger-ui)
  tempo-opa-main-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-opa-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-operator-pull-request.yaml)) or (any of: .tekton/tempo-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: tempo-operator)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
  tempo-tempo-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
