Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Red Hat Konflux update tempo-bundle-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-bundle-main-pull-request.yaml
  .tekton/tempo-bundle-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-19-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-19-main-pull-request.yaml
  .tekton/tempo-fbc-v4-19-main-push.yaml
Due: none

Update FBC pipeline, FIPS check
  .tekton/fbc-build-pipeline.yaml
Due: none

Ignore: trigger builds
  Dockerfile-v4-12.catalog
  Dockerfile.gateway
Due: none

Ignore: trigger builds
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
Due: tempo-fbc-v4-17-on-push

Add prefetch deps
  .tekton/fbc-build-pipeline.yaml
Due: none

Update FBC pipeline, FIPS check (#287)
  .tekton/fbc-build-pipeline.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
Due: tempo-fbc-v4-17-on-push

Trigger FBC builds
  .tekton/fbc-build-pipeline.yaml
Due: none

Trigger FBC builds
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
Due: tempo-fbc-v4-17-on-push

Trigger FBC builds, update task pullspecs
  .tekton/fbc-build-pipeline.yaml
Due: none

Fix untrusted task
  .tekton/fbc-build-pipeline.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-12-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-12-main-pull-request.yaml
  .tekton/tempo-fbc-v4-12-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-14-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-14-main-pull-request.yaml
  .tekton/tempo-fbc-v4-14-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-15-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-15-main-pull-request.yaml
  .tekton/tempo-fbc-v4-15-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-16-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-16-main-pull-request.yaml
  .tekton/tempo-fbc-v4-16-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-17-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-17-main-pull-request.yaml
  .tekton/tempo-fbc-v4-17-main-push.yaml
Due: none

Add IDMS step to readme
  README.md
Due: none

Add IDMS step to readme (#295)
  README.md
Due: none

dump quay bundle
  .tekton/tempo-bundle-quay-pull-request.yaml
  .tekton/tempo-bundle-quay-push.yaml
  README.md
Due: none

Use mirror set for FIPS check
  .tekton/fbc-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  README.md
Due: none

Use mirror set for FIPS check (#296)
  .tekton/fbc-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  README.md
Due: none

Update FIPS task
  .tekton/fbc-build-pipeline.yaml
Due: none

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Add default monitoring annotation
  bundle-patch/patch_csv.yaml
Due: none

Update image reference in bundle to use prod registry
  Dockerfile.bundle
Due: none

Update image reference in bundle to use prod registry (#301)
  Dockerfile.bundle
Due: none

Update FBC FIPS task
  .tekton/fbc-build-pipeline.yaml
Due: none

Fix CVEs in the base image
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Fix CVEs in the base image
  Dockerfile.jaegerquery
Due: none

Fix CVEs in the base image (#308)
  Dockerfile.jaegerquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Update catalog for 3.5
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-on-push

Update catalog for 3.5 (#318)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-on-push

Update catalog for 3.5
  Dockerfile-v4-18.catalog
Due: none

Use OCP 4.18 as max version for integration tests
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
Due: none

Fix CVE-2025-2786 and CVE-2025-2842
  Dockerfile.operator
  patches/metrics_role.patch
  patches/subjectaccessreview.patch
Due: none

Fix CVE-2025-2786 and CVE-2025-2842 (#321)
  Dockerfile.operator
  patches/metrics_role.patch
  patches/subjectaccessreview.patch
Due: none

Update bundle
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: none

Update bundle (#322)
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: none

Update catalog
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-on-push

Path conditions:
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
