Repository pavolloffay/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-tempo-on-pull-request

tempo-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.bundle
  ...

tempo-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: path-context
    value: .
  - name: hermetic
  ...

tempo-tempo-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-tempo:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tempo
  ...

Update pullspecs for bundle
  Dockerfile.operator
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update pullspecs for bundle (#15)
  Dockerfile.operator
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Trigger build to test nudges
  Dockerfile.gateway
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-tempo-on-pull-request

Trigger build to test nudges (#18)
  Dockerfile.gateway
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-tempo-on-pull-request

Update tempo-operator to 06b2c5b
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to d4a222f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to ce900fc
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 5a77802
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to 1594bbb
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Small fixes to bundle
  bundle-patch/patch_annotations.yaml
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Compile jaeger-query directly
  .gitmodules
  Dockerfile.tempoquery
  README.md
Due: none

Fix
  Dockerfile.tempoquery
Due: none

Fix
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: none

Compile jaeger-query directly (#25)
  .gitmodules
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  Dockerfile.tempoquery
  README.md
Due: none

Red Hat Konflux update tempo-fbc-v4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
Due: none

Red Hat Konflux update tempo-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Red Hat Konflux update tempo-fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
Due: none

Red Hat Konflux update tempo-gateway Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
Due: none

Red Hat Konflux update tempo-opa Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
Due: none

Red Hat Konflux update tempo-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
Due: none

Red Hat Konflux update tempo-tempo Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-tempo-on-pull-request

Red Hat Konflux update tempo-query Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: none

Update pipelines
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-tempo-on-pull-request

Update tempo-operator to cf7167a
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to 474356f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 6a6344f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to e2b213f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to 732426b
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Fix
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

Fix tempo
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-tempo-on-pull-request

Update bundle with tempo
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Release catalog
  catalog/catalog-template.json
  catalog/tempo-product/catalog.json
Due: none

Fix catalog pipelines
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
Due: none

Update tempo-query to f3f4fad
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to 035f3c5
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-operator to 5ccb5ca
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to 71ee5dd
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Path conditions:
  tempo-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-tempo-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: tempo)
