Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-fbc-v4-21-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-21:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-21.catalog
  ...

tempo-jaeger-query-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update jaeger-query pullspec
  bundle-patch/bundle.env
Due: none

Update jaeger-query pullspec (#482)
  bundle-patch/bundle.env
Due: none

Split snyk reports based on component
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Split snyk reports based on component (#486)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix oauth-proxy image
  bundle-patch/bundle.env
Due: none

Fix oauth-proxy image (#492)
  bundle-patch/bundle.env
Due: none

Trigger components rebuild
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Trigger components rebuild (#493)
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Revert "chore(deps): update konflux references (#489)"
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Revert "chore(deps): update konflux references (#489)" (#494)
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update bundle
  bundle-patch/bundle.env
Due: none

Update bundle (#495)
  bundle-patch/bundle.env
Due: none

temporarily enable arm64 build on PR
  .tekton/tempo-tempo-pull-request.yaml
Due: tempo-tempo-on-pull-request

GHA for checking multi-arch images in bundle
  .github/workflows/check-multiarch-images.yml
Due: none

GHA for checking multi-arch images in bundle (#499)
  .github/workflows/check-multiarch-images.yml
Due: none

Snyk: scan only files that belong to the project
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Snyk: scan only files that belong to the project (#502)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tempo-tempo-main
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tempo-operator-main
  Dockerfile.operator
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-query-main
  Dockerfile.tempoquery
Due: tempo-query-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tempo-bundle-main
  Dockerfile.bundle
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-jaeger-query-main
  Dockerfile.jaegerquery
Due: tempo-jaeger-query-main-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tempo-gateway-main
  Dockerfile.gateway
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-opa-main
  Dockerfile.opa
Due: tempo-opa-on-push

Update versions script
  versions.sh
Due: none

Update Konflux references in fbc-build-pipeline
  .tekton/fbc-build-pipeline.yaml
Due: tempo-fbc-v4-21-main-on-push

Update Konflux references in fbc-build-pipeline (#513)
  .tekton/fbc-build-pipeline.yaml
Due: tempo-fbc-v4-21-main-on-push

Update versions script (#511)
  versions.sh
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-opa-main (#510)
  Dockerfile.opa
Due: tempo-opa-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tempo-gateway-main (#509)
  Dockerfile.gateway
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-jaeger-query-main (#508)
  Dockerfile.jaegerquery
Due: tempo-jaeger-query-main-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tempo-bundle-main (#507)
  Dockerfile.bundle
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-query-main (#506)
  Dockerfile.tempoquery
Due: tempo-query-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tempo-tempo-main (#504)
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-21-main-on-push: ((((any of: .tekton/tempo-fbc-v4-21-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-21-push.yaml)) or (any of: .tekton/fbc-build-pipeline.yaml)) or (any of: Dockerfile-v4-21.catalog)) or (any of: catalog/***)
  tempo-jaeger-query-main-on-push: ((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-jaeger-query-pull-request.yaml)) or (any of: .tekton/tempo-jaeger-query-push.yaml)) or (any of: Dockerfile.jaegerquery)) or (any of: rpms.lock.yaml)) or (any of: jaeger)) or (any of: jaeger-ui)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
