Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Trigger jaeger-query build
  Dockerfile.jaegerquery
Due: none

Trigger jaeger-query build (#324)
  Dockerfile.jaegerquery
Due: none

update bundle
  bundle-patch/bundle.env
Due: none

update bundle (#325)
  bundle-patch/bundle.env
Due: none

update lockfile input, updated packages exist in base image already
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

update lockfile input, updated packages exist in base image already (#326)
  rpms.in.yaml
Due: none

Add DAST scan using RapiDAST
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

trigger rebuild
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

trigger rebuild (#329)
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Use token to pull resources from konflux-tempo
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

Add RapiDAST task for DAST scan and use token for pulling resources from konflux-tempo repo. (#330)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

update bundle (#331)
  bundle-patch/bundle.env
Due: none

update catalog
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

update catalog (#332)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Apply CVE patch also to bundle
  Dockerfile.bundle
Due: none

Apply CVE patch also to bundle (#333)
  Dockerfile.bundle
Due: none

update catalog (#334)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Bump API, Jaeger and tempo operator to fix CVE-2025-22868
  .gitmodules
Due: none

revert tempo op
  .gitmodules
Due: none

Bump API, Jaeger and tempo operator to fix CVE-2025-22868 (#338)
  .gitmodules
Due: none

Update bundle to latest pullspecs
  bundle-patch/bundle.env
Due: none

Update catalogs for 3.5.1
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Add OCP 4.20 catalog dockerfile
  Dockerfile-v4-20.catalog
Due: none

Update catalogs for 3.5.1 (#347)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Red Hat Konflux update tempo-fbc-v4-20-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-20-main-pull-request.yaml
  .tekton/tempo-fbc-v4-20-main-push.yaml
Due: none

Add default monitoring annotation (#298)
  bundle-patch/patch_csv.yaml
Due: none

Add OCP 4.20 catalog
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
Due: none

Add OCP 4.20 catalog (#349)
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
Due: none

Use ubi-micro as a base image
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix RPMs
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Use ubi-micro base image
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
