Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)

add docstring
  hack/update-bundle-env
Due: none

RPM updates
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Move pullspecs to bundle.env file (#172)
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-push.yaml
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.py
  bundle-patch/rpms.in.yaml
  bundle-patch/update_bundle.sh
  hack/update-bundle-env
  renovate.json
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update Konflux references
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Add deprecation notice to Jaeger UI
  Dockerfile.jaegerquery
  patches/jaegerui_deprecation_notice.patch
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

update text according to suggestions from Max
  patches/jaegerui_deprecation_notice.patch
Due: none

Add deprecation notice to Jaeger UI (#179)
  Dockerfile.jaegerquery
  patches/jaegerui_deprecation_notice.patch
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

fix(KONFLUX-6218): align repository ids to cpe mapping
  ubi8.repo
Due: none

fix: remove duplicate sections from repo files
  ubi8.repo
Due: none

chore: regenerate rpm lockfile
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

drop JAVA_COMMUNITY_DEPENDENCIES result
  .tekton/single-arch-build-pipeline.yaml
Due: none

fix(KONFLUX-6218): align repository ids to cpe mapping (#182)
  rpms.lock.yaml
  ubi8.repo
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Red Hat Konflux update tempo-fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
Due: none

Add integration tests pipeline jobs
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/imagedigestmirrorset.yaml
  .tekton/integration-tests/resources/install.yaml
Due: none

Use validate-fbc task, extract FBC pipeline spec to separate file
  .tekton/fbc-build-pipeline.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
Due: none

Use validate-fbc task, extract FBC pipeline spec to separate file (#185)
  .tekton/fbc-build-pipeline.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
Due: none

Update bundle info and refs
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  hack/update-bundle-env
Due: none

Update bundle info and refs (#186)
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  hack/update-bundle-env
Due: none

Red Hat Konflux purge tempo-fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
Due: none

bump build number only
  Dockerfile.bundle
  bundle-patch/patch_csv.yaml
Due: none

bump build number only (#188)
  Dockerfile.bundle
  bundle-patch/patch_csv.yaml
Due: none

Fix CVE-2024-45338 and CVE-2024-45337
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  patches/api.patch
  patches/jaeger.patch
  patches/opa-openshift.patch
  patches/tempo-operator.patch
  patches/tempo.patch
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Add integration tests pipeline jobs (#178)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/imagedigestmirrorset.yaml
  .tekton/integration-tests/resources/install.yaml
Due: none

fix patch
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix Tempo version information
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-query-on-push, tempo-tempo-on-pull-request

Fix Tempo version information (#190)
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-query-on-push, tempo-tempo-on-pull-request

Fix CVE-2024-45338 and CVE-2024-45337
  .gitmodules
Due: none

fix operator version
  Dockerfile.operator
Due: none

Fix refs for integration test resource files
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

Fix refs for integration test resource files (#194)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

Retrieve version information from tag
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  README.md
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Disable arm64 builds on pull requests to speed up PR pipeline
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-tempo-pull-request.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Retrieve version information from tag (#193)
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  README.md
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Disable arm64 builds on pull requests to speed up PR pipeline (#195)
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-tempo-pull-request.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix CVE-2024-45338 and CVE-2024-45337 (#191)
  .gitmodules
Due: none
