Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)

Add FBC integration job to test operator upgrade (#385)
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Fix FBC integration test job OCP version
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
Due: none

Fix FBC integration test job OCP version (#386)
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
Due: none

Add FBC integration test pipeline to trigger OCP CI jobs
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Add FBC integration test pipeline to trigger OCP CI jobs (#387)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Update bundle RPMs
  bundle-patch/rpms.lock.yaml
Due: none

Update bundle RPMs (#395)
  bundle-patch/rpms.lock.yaml
Due: none

Bundle image for 0.16.0-2
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Only run/trigger FBC tests on push events
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Only run/trigger FBC tests on push events (#398)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Run the main app integration tests only on push events
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

Run the main app integration tests only on push events (#399)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
Due: none

Bundle image for 0.16.0-2 (#397)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

fix version
  bundle-patch/patch_csv.yaml
Due: none

fix version (#404)
  bundle-patch/patch_csv.yaml
Due: none

Update catalog template
  catalog/catalog-template.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Update catalog template (#405)
  catalog/catalog-template.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

touch bundle
  Dockerfile.bundle
Due: none

update pullspec
  bundle-patch/bundle.env
Due: none

update pullspec (#407)
  bundle-patch/bundle.env
Due: none

update catalog template
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

update catalog template (#409)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Run the integration test tasks only on push events
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Run the integration test tasks only on push events (#411)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Add generated catalogs
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Use quay.io/redhat-distributed-tracing-qe/konflux-e2e:latest for integration tests
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Use quay.io/redhat-distributed-tracing-qe/konflux-e2e:latest for integration tests (#423)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

touch tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
Due: none

Remove architectures from 4-12
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
Due: none

Remove architectures from 4-12 (#424)
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
Due: none

Update max OCP version to 4.18 for test pipelines
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Update max OCP version to 4.18 for test pipelines (#427)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

update renovatebot config
  bundle-patch/bundle.env
  renovate.json
Due: none

update renovatebot config (#428)
  bundle-patch/bundle.env
  renovate.json
Due: none

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Drop tempo README and refer to Otel
  README.md
Due: none
