Repository pavolloffay/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push, tempo-gateway-on-pull-request, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-operator-on-push, tempo-tempo-on-pull-request

tempo-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.bundle
  ...

tempo-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: path-context
    value: .
  ...

tempo-bundle-quay-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle-quay:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: path-context
    value: .
  - name: hermetic
  ...

tempo-gateway-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-gateway:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.gateway
  ...

tempo-opa-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-opa:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.opa
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-opa:{{revision}}
  - name: dockerfile
    value: Dockerfile.opa
  - name: path-context
    value: .
  - name: build-platforms
  ...

tempo-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./tempo-operator"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  ...

tempo-tempo-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-tempo:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tempo
  ...

Update tempo-opa to 6a37dc3
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Update tempo-operator to 5578ccb
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Update tempo-gateway to 01b589f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Update tempo-query to 15d8600
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Add renovate
  renovate.json
Due: none

Update tempo-tempo to 113754d
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Increase resources
  .tekton/tempo-tempo-pull-request.yaml
Due: tempo-tempo-on-pull-request

Increase resources
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-tempo-on-pull-request

Increase resources
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-tempo-on-pull-request

Increase resources (#89)
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-tempo-on-pull-request

Do not use state in bundle PR
  .tekton/tempo-bundle-pull-request.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Fix opa registry
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Fix catalog build
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
  Dockerfile-4.16.catalog
Due: none

renovate: enable submodules again (#936)
  renovate.json
Due: none

renovate: ignore OCP 5 catalog images (#934)
  renovate.json
Due: none

Add root CA certificates to images
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  rpms.in.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push, tempo-gateway-on-pull-request, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-operator-on-push, tempo-tempo-on-pull-request

Add root CA certificates to images (#961)
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  rpms.in.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push, tempo-gateway-on-pull-request, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-operator-on-push, tempo-tempo-on-pull-request

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Update bundle [release-driver] (#962)
  bundle-patch/bundle.env
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-bundle-quay-on-push

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: none

Update catalog [release-driver] (#963)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: none

Path conditions:
  tempo-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-bundle-quay-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-quay-pull-request.yaml)) or (any of: .tekton/tempo-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-gateway-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-gateway-pull-request.yaml)) or (any of: .tekton/tempo-gateway-push.yaml)) or (any of: Dockerfile.gateway)) or (any of: api)
  tempo-opa-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: opa-openshift)
  tempo-opa-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: opa-openshift)
  tempo-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-operator-pull-request.yaml)) or (any of: .tekton/tempo-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: tempo-operator)
  tempo-tempo-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: tempo)
