Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-fbc-v4-21-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-21:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-21.catalog
  ...

tempo-jaeger-query-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-opa-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-opa-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

fix gbc fips check task version
  .tekton/fbc-build-pipeline.yaml
Due: tempo-fbc-v4-21-main-on-push

fix catalog template
  catalog/catalog-template.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push

Remove quiet flag from DAST tests
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
Due: none

Remove quiet flag from DAST tests (#652)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-22-main
  .tekton/tempo-fbc-v4-22-main-pull-request.yaml
  .tekton/tempo-fbc-v4-22-main-push.yaml
Due: none

Onboard OCP 4.22, drop OCP 4.12 (unsupported)
  .tekton/tempo-fbc-v4-22-pull-request.yaml
  .tekton/tempo-fbc-v4-22-push.yaml
  Dockerfile-v4-22.catalog
Due: none

TRACING-5837: Update Tempo product images to RHEL9
  .tekton/images-mirror-set.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
  bundle-patch/update_bundle.sh
  rpms.in.yaml
  rpms.lock.yaml
  ubi8.repo
  ubi9.repo
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

fix container stage names
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Onboard OCP 4.22, drop OCP 4.12 (unsupported) (#656)
  .tekton/tempo-fbc-v4-22-pull-request.yaml
  .tekton/tempo-fbc-v4-22-push.yaml
  Dockerfile-v4-22.catalog
Due: none

increase memory for prefetch-dependencies task
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
Due: none

Drop containerfile for OCP 4.12 catalog
  Dockerfile-v4-12.catalog
Due: none

bump releasever arg
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Drop containerfile for OCP 4.12 catalog (#658)
  Dockerfile-v4-12.catalog
Due: none

Revert "Drop containerfile for OCP 4.12 catalog (#658)"
  Dockerfile-v4-12.catalog
Due: none

restore build for 4.12
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
Due: none

TRACING-5837: Update Tempo product images to RHEL9 (#657)
  .tekton/images-mirror-set.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
  bundle-patch/update_bundle.sh
  rpms.in.yaml
  rpms.lock.yaml
  ubi8.repo
  ubi9.repo
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Bump memory for sast-shell-check task
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: tempo-query-on-push

Bump memory for sast-shell-check task (#665)
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: tempo-query-on-push

Bump memory for sast-shell-check and sast-unicode-check tasks
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: tempo-query-on-push

Bump memory for sast-shell-check and sast-unicode-check tasks (#666)
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: tempo-query-on-push

bump images to 0.20.0
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

downgrade go version
  Dockerfile.tempo
  Dockerfile.tempoquery
  patches/tempo_go_version.patch
Due: tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

bump images to 0.20.0 (#664)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  patches/tempo_go_version.patch
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: none

Update bundle [release-driver] (#669)
  bundle-patch/bundle.env
Due: none

Update Tempo tests pipelines
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Update Tempo tests pipelines (#670)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Update to tempo 2.10.1 and remove Go version patch
  Dockerfile.tempo
  Dockerfile.tempoquery
  patches/tempo_go_version.patch
Due: tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update to tempo 2.10.1 and remove Go version patch (#671)
  Dockerfile.tempo
  Dockerfile.tempoquery
  patches/tempo_go_version.patch
Due: tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Temporarily skip fbc-fips-check-oci-ta on OCP 4.16
  .tekton/fbc-build-pipeline.yaml
Due: tempo-fbc-v4-21-main-on-push

Temporarily skip fbc-fips-check-oci-ta on OCP 4.16 (#672)
  .tekton/fbc-build-pipeline.yaml
Due: tempo-fbc-v4-21-main-on-push

Increase memory limit for tempo-opa prefetch-dependencies task
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
Due: tempo-opa-main-on-pull-request, tempo-opa-main-on-push

Increase memory limit for tempo-opa prefetch-dependencies task (#674)
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
Due: tempo-opa-main-on-pull-request, tempo-opa-main-on-push

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-21-main-on-push: ((((any of: .tekton/tempo-fbc-v4-21-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-21-push.yaml)) or (any of: .tekton/fbc-build-pipeline.yaml)) or (any of: Dockerfile-v4-21.catalog)) or (any of: catalog/***)
  tempo-jaeger-query-main-on-push: ((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-jaeger-query-pull-request.yaml)) or (any of: .tekton/tempo-jaeger-query-push.yaml)) or (any of: Dockerfile.jaegerquery)) or (any of: rpms.lock.yaml)) or (any of: jaeger)) or (any of: jaeger-ui)
  tempo-opa-main-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-opa-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
  tempo-tempo-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
