Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Drop tempo README and refer to Otel (#432)
  README.md
Due: none

TRACING-5501: Drop multi-arch FBCs
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

TRACING-5552: Remove --dev-package-managers
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Red Hat Konflux update tempo-bundle-main
  .tekton/tempo-bundle-main-pull-request.yaml
  .tekton/tempo-bundle-main-push.yaml
Due: none

Red Hat Konflux update tempo-query-main
  .tekton/tempo-query-main-pull-request.yaml
  .tekton/tempo-query-main-push.yaml
Due: none

TRACING-5501: Drop multi-arch FBCs (#435)
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Red Hat Konflux update tempo-fbc-v4-20-main
  .tekton/tempo-fbc-v4-20-main-pull-request.yaml
  .tekton/tempo-fbc-v4-20-main-push.yaml
Due: none

Add generated catalogs
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Update Konflux pipelines from template
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update lockfiles
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

Fix the snyk report, and align dockerfiles
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix the snyk report, and align dockerfiles (#451)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update lockfiles (#450)
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-tempo-on-pull-request

[WORKAROUND] overwrite versions locally instead of during docker build due to missing git tags of submodules
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  versions.sh
Due: tempo-query-on-push, tempo-tempo-on-pull-request

TRACING-5552: Remove --dev-package-managers (#436)
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

[WORKAROUND] overwrite versions locally instead of during docker build due to missing git tags of submodules (#458)
  Dockerfile.jaegerquery
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  versions.sh
Due: tempo-query-on-push, tempo-tempo-on-pull-request

Update versions for rhosdt-3.7
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update Konflux pipelines from template (#459)
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update versions for rhosdt-3.7 (#460)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update bundle for 3.7
  bundle-patch/bundle.env
Due: none

Update bundle for 3.7 (#462)
  bundle-patch/bundle.env
Due: none

Update bundle for 3.7 (#470)
  bundle-patch/bundle.env
Due: none

Update link to Tempo docs in CSV
  bundle-patch/patch_csv.yaml
Due: none

Update link to Tempo docs in CSV (#477)
  bundle-patch/patch_csv.yaml
Due: none

Update base images of OCP 4.19 and 4.20 catalogs
  Dockerfile-v4-19.catalog
  Dockerfile-v4-20.catalog
Due: none

Add catalog for OCP 4.21
  Dockerfile-v4-21.catalog
Due: none

add pipelines for 4.21
  .tekton/tempo-fbc-v4-21-pull-request.yaml
  .tekton/tempo-fbc-v4-21-push.yaml
Due: none

Update base images of OCP 4.19 and 4.20 catalogs (#478)
  .tekton/tempo-fbc-v4-21-pull-request.yaml
  .tekton/tempo-fbc-v4-21-push.yaml
  Dockerfile-v4-19.catalog
  Dockerfile-v4-21.catalog
Due: none

Update jaeger-query if RPM lockfile changes
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
Due: none

Update jaeger-query if RPM lockfile changes (#480)
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-21-main
  .tekton/tempo-fbc-v4-21-main-pull-request.yaml
  .tekton/tempo-fbc-v4-21-main-push.yaml
Due: none

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
