Repository pavolloffay/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

tempo-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.bundle
  ...

tempo-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-bundle:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: path-context
    value: .
  - name: hermetic
  ...

tempo-opa-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-opa:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.opa
  ...

tempo-opa-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-opa:{{revision}}
  - name: dockerfile
    value: Dockerfile.opa
  - name: path-context
    value: .
  - name: build-platforms
  ...

tempo-tempo-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-tempo:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.tempo
  ...

Update tempo-gateway to 3e5c142
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Fix labels and annotations for EC
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  README.md
  bundle-patch/patch_csv.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Fix labels and annotations for EC
  Dockerfile.bundle
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to 2d3a6a5
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 62cf23a
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to 540cb2c
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-operator to a0ea542
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to b6ecb8e
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Pullspecs from prod, source image and pinned rbac proxy
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

RBAC proxy to relatedImages
  bundle-patch/patch_csv.py
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Set multiarch explicitly
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

No source image for catalog
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Compile only on linux on PRs
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-tempo-pull-request.yaml
Due: tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Use quay in bundle
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  Dockerfile.bundle
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Red Hat Konflux update tempo-bundle-quay Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-bundle-quay-pull-request.yaml
  .tekton/tempo-bundle-quay-push.yaml
Due: none

Use quay bundle
  .tekton/tempo-bundle-quay-pull-request.yaml
  .tekton/tempo-bundle-quay-push.yaml
Due: none

Update tempo-operator to 248cc41
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 9a8deb8
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Fix preflight check
  Dockerfile.bundle
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Trigger build
  Dockerfile.opa
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Fix EC
  Dockerfile.bundle
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to 962edf1
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to ca2de52
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to 6c3759a
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 68c5deb
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to 8bab855
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to 5dbe4b9
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to 29cac6a
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-operator to 6edc90f
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-opa to 76217ea
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-operator to 9ed4c02
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-gateway to 70396cc
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-tempo to fecea08
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Update tempo-query to 1f5a23c
  bundle-patch/update_bundle.sh
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Change base image in bundle
  Dockerfile.bundle
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push

Use hermetic build
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-bundle-quay-pull-request.yaml
  .tekton/tempo-bundle-quay-push.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
  Dockerfile.bundle
  README.md
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi.repo
  catalog/catalog-template.json
  catalog/catalog-template.yaml
  catalog/tempo-product/catalog.json
  catalog/tempo-product/catalog.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Use hermetic build
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
Due: none

Use hermetic build (#79)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-bundle-quay-pull-request.yaml
  .tekton/tempo-bundle-quay-push.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-13-pull-request.yaml
  .tekton/tempo-fbc-v4-13-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
  Dockerfile.bundle
  README.md
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi.repo
  catalog/catalog-template.json
  catalog/catalog-template.yaml
  catalog/tempo-product/catalog.json
  catalog/tempo-product/catalog.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: tempo-bundle-on-pull-request, tempo-bundle-on-push, tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Add renovate and trigger build
  Dockerfile.gateway
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  renovate.json
Due: tempo-opa-on-pull-request, tempo-opa-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/tempo-bundle-pull-request.yaml)) or (any of: .tekton/tempo-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: tempo-operator)
  tempo-opa-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: opa-openshift)
  tempo-opa-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: opa-openshift)
  tempo-tempo-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: tempo)
