Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)

Konflux references update
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  rpms.lock.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix docker file for jaegerquery
  Dockerfile.jaegerquery
Due: none

Use ubi-micro base image (#354)
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Release - update upstream sources 3.6
  .gitmodules
Due: none

Add spaces to avoid merge conflicts for image updates
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Add catalog/bundle automation GHA
  .github/workflows/update-catalog.yaml
  .tekton/tempo-bundle-push.yaml
  catalog/catalog-template.yaml
  catalog/catalog.env
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Add generated catalogs
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Add catalog/bundle automation GHA (#364)
  .github/workflows/update-catalog.yaml
  .tekton/tempo-bundle-push.yaml
  catalog/catalog-template.yaml
  catalog/catalog.env
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Use UBI as golang builder imag
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Use UBI as golang builder imag (#366)
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

remove CVE patch
  Dockerfile.operator
  patches/metrics_role.patch
  patches/subjectaccessreview.patch
Due: none

remove patch from bundle
  Dockerfile.bundle
Due: none

Release - update upstream sources 3.6 (#363)
  .gitmodules
  Dockerfile.bundle
  Dockerfile.operator
  patches/metrics_role.patch
  patches/subjectaccessreview.patch
Due: none

Release - update bundle version 3.6
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: none

bump jaeger
  .gitmodules
Due: none

bump jaeger (#368)
  .gitmodules
Due: none

update bundle
  bundle-patch/bundle.env
Due: none

update tempo query pullspec
  bundle-patch/bundle.env
Due: none

Change version package
  Dockerfile.jaegerquery
Due: none

Change version package (#369)
  Dockerfile.jaegerquery
Due: none

Release - update bundle version 3.6 (#367)
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: none

Update pullspecs
  bundle-patch/bundle.env
Due: none

Remove hardcoded version
  Dockerfile.operator
Due: none

Remove hardcoded version (#373)
  Dockerfile.operator
Due: none

update tempo operator
  bundle-patch/bundle.env
Due: none

Update pullspecs (#371)
  bundle-patch/bundle.env
Due: none

update tempo bundle
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

update tempo bundle (#374)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Add more labels to fix conforama
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

update readme
  README.md
Due: none

Add more labels to fix conforama (#375)
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  README.md
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update bundle
  bundle-patch/bundle.env
Due: none

Update bundle (#378)
  bundle-patch/bundle.env
Due: none

Add generated catalogs
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push

Add FBC integration job to test operator upgrade
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none
