Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-fbc-v4-21-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-21:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-21.catalog
  ...

tempo-jaeger-query-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-opa-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-opa-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-operator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update upstream sources for rhosdt-3.11
  .gitmodules
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

PQC: ML-KEM ciphers
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update upstream sources for rhosdt-3.11 (#901)
  .gitmodules
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: none

Update tempo-operator to v0.22.0 for 3.11.0
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update tempo-operator to v0.22.0 for 3.11.0
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update tempo-operator to v0.22.0 for 3.11.0 (#909)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver] (#910)
  bundle-patch/bundle.env
Due: none

Update tekton pipelines from template
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update tekton pipelines from template (#915)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver] (#916)
  bundle-patch/bundle.env
Due: none

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push

fix version.sh: run submodule --init and fetch upstream tags non recursively
  versions.sh
Due: none

Update catalog [release-driver] (#917)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push

drop release payloads from this repo
  tempo-prod-fbc-x.y.z.yaml
  tempo-prod-x.y.z.yaml
  tempo-stage-fbc-x.y.z.yaml
  tempo-stage-x.y.z.yaml
Due: none

FIPS: Drop openssl and use native golang impl
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

FIPS: Drop openssl and use native golang impl (#920)
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

drop systemd from Dockerfiles
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

fix version.sh: run submodule --init and fetch upstream tags non recursively (#918)
  versions.sh
Due: none

drop release payloads from this repo (#919)
  tempo-prod-fbc-x.y.z.yaml
  tempo-prod-x.y.z.yaml
  tempo-stage-fbc-x.y.z.yaml
  tempo-stage-x.y.z.yaml
Due: none

drop systemd from Dockerfiles (#924)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  rpms.in.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-operator-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request, tempo-tempo-main-on-push

Update bundle [release-driver] (#929)
  bundle-patch/bundle.env
Due: none

Update catalog [release-driver] (#930)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push

debug: set -x to get exact chainsaw command
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

debug: set -x to get exact chainsaw command (#931)
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

renovate: ignore OCP 5 catalog images
  renovate.json
Due: none

renovate: enable submodules again
  renovate.json
Due: none

drop dependabot, minitmaker already updates GHA (#887)
  .github/dependabot.yml
Due: none

Update bundle [release-driver] (#945)
  bundle-patch/bundle.env
Due: none

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-21-main-on-push: ((((any of: .tekton/tempo-fbc-v4-21-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-21-push.yaml)) or (any of: .tekton/fbc-build-pipeline.yaml)) or (any of: Dockerfile-v4-21.catalog)) or (any of: catalog/***)
  tempo-jaeger-query-main-on-push: ((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-jaeger-query-pull-request.yaml)) or (any of: .tekton/tempo-jaeger-query-push.yaml)) or (any of: Dockerfile.jaegerquery)) or (any of: rpms.lock.yaml)) or (any of: jaeger)) or (any of: jaeger-ui)
  tempo-opa-main-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-opa-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-operator-pull-request.yaml)) or (any of: .tekton/tempo-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: tempo-operator)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
  tempo-tempo-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
