Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

tempo-fbc-v4-17-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

tempo-fbc-v4-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-17:{{revision}}
  - name: dockerfile
    value: Dockerfile-4.17.catalog
  ...

tempo-fbc-v4-21-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/tempo/tempo-fbc-v4-21:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-21.catalog
  ...

tempo-jaeger-query-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-opa-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-opa-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "gomod", "path": "./opa-openshift"}, {"type": "rpm"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

tempo-query-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 3Gi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

tempo-tempo-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Revert erroneous name change
  Dockerfile.operator
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tempo-operator-main (#505)
  Dockerfile.operator
Due: none

Update version in CVE label in versions.sh script
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update version in CVE label in versions.sh script (#514)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Use yq in versions.sh
  bundle-patch/patch_csv.yaml
  versions.sh
Due: none

Use yq in versions.sh (#515)
  bundle-patch/patch_csv.yaml
  versions.sh
Due: none

set pipefail in versions.sh
  versions.sh
Due: none

Fix tempo build by keeping vendor folder consistent (adding .envrc)
  .gitmodules
Due: none

Fix tempo build by keeping vendor folder consistent (adding .envrc) (#520)
  .gitmodules
Due: none

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: none

versions.sh: fetch latest released bundle, bump build number
  versions.sh
Due: none

Update regex in versions.sh
  versions.sh
Due: none

Update regex in versions.sh (#527)
  versions.sh
Due: none

Update lockfiles
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-tempo-on-pull-request

Update lockfiles (#528)
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-tempo-on-pull-request

Update lockfile
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-tempo-on-pull-request

Update lockfile (#538)
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-tempo-on-pull-request

Bump operator version to 0.18.0-2
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

update comment
  versions.sh
Due: none

Bump operator version to 0.18.0-2 (#539)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update lockfiles (#542)
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-tempo-on-pull-request

Configure service accounts of all Tekton tasks
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
  .tekton/tempo-fbc-v4-21-pull-request.yaml
  .tekton/tempo-fbc-v4-21-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Configure service accounts of all Tekton tasks (#548)
  .tekton/tempo-bundle-pull-request.yaml
  .tekton/tempo-bundle-push.yaml
  .tekton/tempo-fbc-v4-12-pull-request.yaml
  .tekton/tempo-fbc-v4-12-push.yaml
  .tekton/tempo-fbc-v4-14-pull-request.yaml
  .tekton/tempo-fbc-v4-14-push.yaml
  .tekton/tempo-fbc-v4-15-pull-request.yaml
  .tekton/tempo-fbc-v4-15-push.yaml
  .tekton/tempo-fbc-v4-16-pull-request.yaml
  .tekton/tempo-fbc-v4-16-push.yaml
  .tekton/tempo-fbc-v4-17-pull-request.yaml
  .tekton/tempo-fbc-v4-17-push.yaml
  .tekton/tempo-fbc-v4-18-pull-request.yaml
  .tekton/tempo-fbc-v4-18-push.yaml
  .tekton/tempo-fbc-v4-19-pull-request.yaml
  .tekton/tempo-fbc-v4-19-push.yaml
  .tekton/tempo-fbc-v4-20-pull-request.yaml
  .tekton/tempo-fbc-v4-20-push.yaml
  .tekton/tempo-fbc-v4-21-pull-request.yaml
  .tekton/tempo-fbc-v4-21-push.yaml
  .tekton/tempo-gateway-pull-request.yaml
  .tekton/tempo-gateway-push.yaml
  .tekton/tempo-jaeger-query-pull-request.yaml
  .tekton/tempo-jaeger-query-push.yaml
  .tekton/tempo-opa-pull-request.yaml
  .tekton/tempo-opa-push.yaml
  .tekton/tempo-operator-pull-request.yaml
  .tekton/tempo-operator-push.yaml
  .tekton/tempo-query-pull-request.yaml
  .tekton/tempo-query-push.yaml
  .tekton/tempo-tempo-pull-request.yaml
  .tekton/tempo-tempo-push.yaml
Due: tempo-fbc-v4-17-main-on-pull-request, tempo-fbc-v4-17-on-push, tempo-fbc-v4-21-main-on-push, tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

use ubi9 for builder
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

fix
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

test
  Dockerfile.tempo
Due: tempo-tempo-on-pull-request

Update bundle for 2.8
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

run versions.sh
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update bundle for 2.8 (#556)
  Dockerfile.bundle
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  versions.sh
Due: tempo-jaeger-query-main-on-push, tempo-opa-main-on-pull-request, tempo-opa-main-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-main-on-pull-request: ((((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: .tekton/single-arch-build-pipeline.yaml)) or (any of: Dockerfile-v4-17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-fbc-v4-21-main-on-push: ((((any of: .tekton/tempo-fbc-v4-21-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-21-push.yaml)) or (any of: .tekton/fbc-build-pipeline.yaml)) or (any of: Dockerfile-v4-21.catalog)) or (any of: catalog/***)
  tempo-jaeger-query-main-on-push: ((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-jaeger-query-pull-request.yaml)) or (any of: .tekton/tempo-jaeger-query-push.yaml)) or (any of: Dockerfile.jaegerquery)) or (any of: rpms.lock.yaml)) or (any of: jaeger)) or (any of: jaeger-ui)
  tempo-opa-main-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-opa-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)
