Repository os-observability/konflux-tempo: changes, and which Tekton pipelines are due for each by the changed paths.
All: tempo-fbc-v4-17-on-push, tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Path conditions:
  tempo-fbc-v4-17-on-push: (((any of: .tekton/tempo-fbc-v4-17-pull-request.yaml) or (any of: .tekton/tempo-fbc-v4-17-push.yaml)) or (any of: Dockerfile-4.17.catalog)) or (any of: catalog/***)
  tempo-opa-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-opa-pull-request.yaml)) or (any of: .tekton/tempo-opa-push.yaml)) or (any of: Dockerfile.opa)) or (any of: rpms.lock.yaml)) or (any of: opa-openshift)
  tempo-query-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-query-pull-request.yaml)) or (any of: .tekton/tempo-query-push.yaml)) or (any of: Dockerfile.tempoquery)) or (any of: tempo)
  tempo-tempo-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/tempo-tempo-pull-request.yaml)) or (any of: .tekton/tempo-tempo-push.yaml)) or (any of: Dockerfile.tempo)) or (any of: rpms.lock.yaml)) or (any of: tempo)

Fix bundle rpms EC
  bundle-patch/rpms.lock.yaml
Due: none

Red Hat Konflux update tempo-tempo-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-tempo-main-pull-request.yaml
  .tekton/tempo-tempo-main-push.yaml
Due: none

Add SAST coverity, shell and unicode checks
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix
  .tekton/single-arch-build-pipeline.yaml
Due: none

Red Hat Konflux update tempo-bundle-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-bundle-main-pull-request.yaml
  .tekton/tempo-bundle-main-push.yaml
Due: none

Add SAST coverity, shell and unicode checks (#247)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Trigger build
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Trigger build
  .tekton/single-arch-build-pipeline.yaml
Due: none

Disable sast-coverity check
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Try fixing coverity
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Try fixing coverity
  .tekton/single-arch-build-pipeline.yaml
Due: none

Try fixing coverity
  .tekton/tempo-bundle-pull-request.yaml
Due: none

Try fixing coverity
  .tekton/single-arch-build-pipeline.yaml
  .tekton/tempo-bundle-pull-request.yaml
Due: none

Try fixing coverity
  .tekton/multi-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Disable sast-coverity check (#257)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Disable mintmaker on gitsubmodules
  renovate.json
Due: none

Update integration test pipelines
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
Due: none

Update integration test pipelines (#268)
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/tempo-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
Due: none

Enable coverity check again
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

update SA
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

XXX: use my own `sast-coverity-check` bundle for debugging
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Fix coverity pullspecs
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Disable single arch pipeline
  .tekton/single-arch-build-pipeline.yaml
Due: none

Enable coverity check again (#269)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Enable coverity for bundles/single arch pipeline
  .tekton/single-arch-build-pipeline.yaml
Due: none

Update to tempo operator 0.15.3
  Dockerfile.bundle
  bundle-patch/patch_csv.yaml
Due: none

Bump tempo operator to 0.15.3 (#273)
  Dockerfile.bundle
  bundle-patch/patch_csv.yaml
Due: none

Use subdirectory
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/update_bundle.sh
Due: none

Enable coverity for bundles/single arch pipeline (#276)
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/update_bundle.sh
Due: none

Update golang to 1.23.6
  .gitmodules
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update golang to 1.23.6
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update golang to 1.23.6 (#277)
  .gitmodules
  Dockerfile.gateway
  Dockerfile.jaegerquery
  Dockerfile.opa
  Dockerfile.operator
  Dockerfile.tempo
  Dockerfile.tempoquery
Due: tempo-opa-on-push, tempo-query-on-push, tempo-tempo-on-pull-request

Update catalog to 0.15.3-1
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-on-push

Update catalog to 0.15.3-1 (#284)
  catalog/catalog-template.yaml
  catalog/tempo-product-4.17/catalog.yaml
  catalog/tempo-product/catalog.yaml
Due: tempo-fbc-v4-17-on-push
